.playlistContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0px 20% 10% 20%;
}

.albumImage {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.songs {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.songs div {
  margin-left: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 3vw;
}
