.banner {
  height: 50vh;
  background-color: #151515;
  color: white;
  object-fit: contain;
}

.bannerImage{
  width:auto;
  margin-bottom:5%;
}

.bannerImage img {
  width: auto;
  height: 50vh;
  object-fit: scale-down;
}
