.footer {
  background-color: #24242469;
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.songLinks {
  display: grid;
  grid-template-columns: repeat(4, 0.1fr);
  font-size: 3vw;
}

.linkImages {
  width: 100%;
  max-width: 30px;
  height: auto;
}

.footer section {
  font-size: 1vw;
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
  align-items: center;
  height: auto;
}

@media (max-width: 700px) {
  .footer section {
    display: none;
  }

  .footer {
    background-color: #242424;
    grid-template-columns: 1fr;
    padding: 5% 0% 5% 0%;
  }

  .songLinks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 3vw;
  }
}
