body,
#app {
  background-color: #151515;
  background-image: url("/src/images/BACKGROUND.png");
  background-size: 700px ;
  margin: 0;
  margin: 0;
  padding: 0;
  font-family: "Truculenta", sans-serif;  
  user-select: none; 
  color:white;
  text-align: center;
}



body,
html {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
}

.bandRocking{
  background-image: url("/src/images/BANDBACKGROUND.png");
  background-position:  50% 10%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 65vh;
  width: auto;
  margin-bottom: 10%;
}


