.membersContainer {
  margin: 5% 20% 5% 20%;
  padding: 5% 0px 0px 0px;
  width: auto;
}
.membersImage {
  width: 100%;
  object-fit: cover;
}

.membersInfo {
  background-color: black;
  margin: 0 auto;
}

.membersImage img {
  width: 100%;
  height: 100%;
}

.membersCard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4vh;
  font-size: 1vw;
}

.membersInfo h1, .membersInfo h2{
  padding: 2%;  
  margin: 0%;
}