.shopSection {
  color: white;
  position: relative;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shopImage {
  object-fit: cover;
}

.shopImage img {
  width: 100%;
  height: auto;
}

.shopSection h1 {
  font-size: 2vw;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shirtsContainer {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 5% 10% 10% 10%;
}

.singleShirtContainer h1{
  font-size: 2vw;
}

.buyButton {
  background-color: #851e12;
  grid-area: overlap;
  margin-top: 0;
}

.status {
  margin-top: 0;
  font-size: 1.7vw;
  grid-area: overlap;
  transform: rotate(-6deg);
  background-color: #57150e;
  display: none;
}

.buyButtonContainer:hover .status {
  display: block;
}

.shirtImage {
  width: 100%;
  object-fit: cover;
}
.shirtImage img {
  width: 100%;
  object-fit: cover;
}

.singleShirtContainer {
  display: grid;
  grid-template-rows: 1fr repeat(2, 0.1fr);
  margin: 0% 2% 0% 2%;
}

.buyButtonContainer {
  margin-left: 30%;
  margin-right: 30%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "overlap";
}

.tourShop {
  margin-top: -5%;
  margin-bottom: 10%;
  position: initial;
  transform: rotate(6deg);
}

.tourShop:hover{
  transform: rotate(-6deg);
}


@media (max-width: 1100px) {
  .status{
    display: block;
  }
  .shirtsContainer {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0% 10% 10% 15%;
  }
  .singleShirtContainer {
    margin: 0% 0% 10% 0%;
  }
  .tourShop {
    margin-top: 0;
    margin-bottom: 15%;
  }
  .singleShirtContainer h1{
    font-size: 5vw;
    margin: 1%;
  }

  .tourShop {
    font-size: 5vw;
  }
  .shopSection h1 {
    font-size: 7vw;
  }
  
}

