.datesTable {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  background-color: #24242469;
}

.bandLogo {
  margin-bottom: 15%;
}

.tourDates h2,
.tourDates h3,
.datesLocation h3,
.datesLocation h2,
.datesBuyButton,
.datesStatus,
.datesButton,
.bandLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.tourDates h2,
.tourDates h3,
.datesLocation h3,
.datesLocation h2,
.datesBuyButton,
.datesStatus {
  font-size: 1.5vw;
}

.tourDates h3,
.datesLocation h3 {
  font-size: 2vw;
}

.datesBuyButton {
  /* background-color: #851e12; */
  grid-area: overlap;
  width: 7vw;
  height: 7vw;
  border-radius: 100%;
}

.datesStatus {
  grid-area: overlap;
  transform: rotate(-6deg);
  background-color: #57150e;
  display: none;
  width: 50%;
  height: 30%;
}

.datesButton:hover .datesStatus {
  display: flex;
}

.bandLogo:hover {
  animation: pulse 2s;
  animation-fill-mode: backwards;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}

.datesButton {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "overlap";
  color: #fff;
  text-decoration: none;
}

.redBomb {
  grid-area: overlap;
  margin: 0% 40% 0% 40%;
  object-fit: cover;
}

.redBomb img {
  width: 10vw;
  height: auto;
  margin-bottom: 15%;
}

@media (max-width: 700px) {

  .datesStatus {
    font-size: 3vw;
  }
  .tourDates h2,
  .tourDates h3,
  .datesLocation h3,
  .datesLocation h2,
  .datesBuyButton {
    font-size: 4vw;
  }

  .datesBuyButton {
    width: 12vw;
    height: 12vw;
  }
  .datesStatus {
    display: flex;
    width: 50%;
    height: 20%;
  }

  .redBomb img {
    width: 20vw;
    height: auto;
    margin-bottom: 10%;
  }
}
